/Practice/nbproject/private/
/Practice/build/
/Tugas/nbproject/private/
/Tugas/build/
/W3Practice/nbproject/private/
/W3Practice/build/
/TugasW3/nbproject/private/
/TugasW3/build/
/W4Practice/nbproject/private/
/W4Practice/build/
/TugasW4/nbproject/private/
/TugasW4/build/
/W6Practice/nbproject/private/
/W6Practice/build/